html {
  background: {
    color: #ffffff;
  }
}

.app {
  min-height: 100vh;
  line-height: 1.4;
  padding: 5px;
  display: grid;
  grid-template: {
    columns: 100%;
    rows: repeat(8, auto);
    areas: 'header' 'section' 'nav' 'jumbotron' 'article' 'aside' '.' 'slider' 'footer';
  }
  @media screen and (min-width: 64em) {
    display: grid;
    grid-template: {
      columns: repeat(3, 1fr);
      rows: 70px 450px 350px 350px 50px;
    }
    grid-template-areas: 'header header  nav' 'jumbotron jumbotron jumbotron' 'article  aside especial' 'slider slider slider' 'footer footer footer ';
    nav {
      background-color: #111;
      color: #ffffff;
      padding-top: 1rem;
      & li {
        padding-top: .5em;
      }
      & a {
        color: #111111;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
        background: #ffffff;
        border-radius: 20%;
      }
      & a:hover {
        color: #ffffff;
        background: #666666;
      }
    }
  }
}

header {
  background-color: #111;
  color: #ffffff;
  text-align: left;
  padding-left: 2em;
  grid-area: header;
  display: inline-block;
  & ul {
    text-decoration: none;
  }
  & a {
    color: #ffffff;
    text-decoration: none;
  }
}

nav {
  background-color: #ffffff;
  color: #111111;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  grid-area: nav;
  & a {
    color: #111111;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    background: #666666;
    border-radius: 20%;
  }
}

footer {
  background-color: #666666;
  color: #ffffff;
  grid-area: footer;
  text-align: center;
  padding-top: 1em;
}

aside {
  grid-area: aside;
  padding: 2em;
  margin-left: 2em;
  font-size: .8em;
  & li {
    padding-top: .3em;
  }
  @media screen and (min-width: 64em) {
    padding: 2em;
    margin-left: 2em;
  }
}

section {
  grid-area: section;
}

.slider {
  text-align: left;
  grid-area: slider;
  padding-bottom: 5em;
  margin: 0;
}

article {
  grid-area: article;
  padding: 2em;
  margin-left: 2em;
  text-align: justify;
}

.especial {
  background-color: #666666;
  border-radius: 10%;
  position: relative;
  grid-area: especial;
  @media screen and (min-width: 64em) {
    grid-area: especial;
    background-color: #666666;
    height: 600px;
    border-radius: 2%;
    position: relative;
    top: -350px;
    left: -45px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 110;
  }
}

.jumbotron {
  max-width: auto;
  max-height: auto;
  grid-area: jumbotron;
  @media screen and (min-width: 64em) {
    padding: 1em;
    margin: 2em;
    text-align: justify;
    grid-area: jumbotron;
  }
  & h1 {
    font-size: 1.7em;
    @media screen and (min-width: 64em) {
      font-size: 3em;
    }
  }
  & .jumbotron-item {
    max-width: 150px;
    max-height: 150px;
    font-size: .25em;
    @media screen and (min-width: 64em) {
      max-width: 250px;
      max-height: 250px;
    }
  }
  &.jumbotron-title {
    font-size: .25em;
    @media screen and (min-width: 64em) {
      max-width: 650px;
      max-height: 250px;
      font-size: 1.5em;
    }
  }
  & .jumbotron-text-item {
    max-width: 250px;
    max-height: 250px;
    font-size: .9em;
    @media screen and (min-width: 64em) {
      max-width: 650px;
      max-height: 250px;
    }
  }
  & .jumobotron-button {
    background-color: #666666;
    border-color: #666666;
    color: #ffffff;
    position: relative;
    top: 130px;
    left: 40px;
    height: 80px;
    width: 200px;
    font-size: 2rem;
    @media screen and (min-width: 64em) {
      background-color: #666666;
      border-color: #666666;
      color: #ffffff;
      position: relative;
      top: 90px;
      left: 300px;
      height: 80px;
      width: 200px;
    }
  }
}

img {
  width: 100%;
  height: auto;
  padding: 5px;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.slick-dots li.slick-active button {
  background-color: black;
}

.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */

.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}

.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}

.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}
